{{ "<!-- Contest -->" | safeHTML }}
<section id="contest">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {{ $logo := printf "/img/contest/%s" .Site.Params.contest.logo }}
        <h2 class="section-heading">
          María Pita Defcon
          <img class="section-heading-logo" src="{{ $logo | absURL }}" alt="">
          contest
        </h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.contest.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
          <a target="_blank" href="{{ .Site.Params.contest.url }}" class="btn btn-xl">
            {{ with .Site.Params.contest.buttonText }}{{ . }}{{ end }}
          </a>
      </div>
    </div>
  </div>
</section>
